*
!README.md
!.gitignore

# Bash
!.bashrc
!.bash_profile

# Zsh
!.zshrc

!/.config
/.config/*

# Kitty
!/.config/kitty
/.config/kitty/*
!/.config/kitty/kitty.conf

# Hyprland
!/.config/hypr
/.config/hypr/*
!/.config/hypr/hyprland.conf
!/.config/hypr/hypridle.conf
!/.config/hypr/hyprlock.conf
!/.config/hypr/hyprpaper.conf
!/.config/hypr/monitors.conf

# Waybar
!/.config/waybar
/.config/waybar/*
!/.config/waybar/config.jsonc
!/.config/waybar/modules
