*
!README.md
!.gitignore

# Bash
!.bashrc
!.bash_profile

# Zsh
!.zshrc

!/.config
/.config/*

# Neovim
!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.lua

# Kitty
!/.config/kitty
/.config/kitty/*
!/.config/kitty/kitty.conf
