* {
	border: none;
	border-radius: 0;
	font-family: Noto Sans CJK SC, FontAwesome;
	font-size: 16px;
	min-height: 0;
}

@define-color background #282828;
@define-color foreground #ebdbb2;
@define-color black #282828;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color magenta #b16286;
@define-color cyan #689d6a;
@define-color white #a89984;
@define-color aqua #689d6a;
@define-color orange #d65d0e;

@define-color magenta_b #d3869b;
@define-color cyan_b #8ec07c;
@define-color yellow_b #fabd2f;
@define-color white_b #ebdbb2;
@define-color black_b #928374;
@define-color red_b #fb4934;
@define-color green_b #b8bb26;
@define-color blue_b #83a598;
@define-color aqua_b #8ec07c;
@define-color orange_b #fe8010;

window#waybar {
	background: @background;
	color: @white_b;
}

tooltip {
	background: @background;
	border: 1px groove @white_b;
	border-radius: 5px;
}

#workspaces button {
	padding: 0 5px;
	background: transparent;
	color: @white_b;
}

#window {
	background: @background;
	color: @white_b;
	padding: 0 10px;
	border: 1px groove @white_b;
	border-radius: 5px;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
	border: none;
}

#mpris {
	background: @background;
	color: @white_b;
	padding: 0 10px;
}

#cpu {
	background-color: @background;
	color: @white_b;
	padding: 0 6px;
}

#memory {
	background-color: @background;
	color: @white_b;
	padding: 0 6px;
}

#bluetooth {
	background-color: @background;
	color: @white_b;
	font-size: 14px;
}

#network {
	background-color: @background;
	color: @white_b;
	padding: 0 7px;
	font-size: 20px;
}

#network.speed {
	font-size: 16px;
}

#clock {
	font-weight: bold;
	background-color: @background;
	color: @white_b;
}

#battery {
	font-size: 12px;
	padding: 0 8px;
	background-color: @background;
	color: @white_b;
}

#battery.charging {
	background-color: @green;
	color: @background;
}

#battery.warning:not(.charging) {
	background-color: @red;
	color: @white_b;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: @white_b;
		color: @background;
	}
}

#tray {
	padding: 0 5px;
	background: @background;
	border: 1px groove @white_b;
	border-radius: 5px;
}

#backlight {
	font-size: 22px;
	padding: 0 9px;
	background-color: @background;
	color: @white_b;
}

#pulseaudio {
	background-color: @background;
	color: @white_b;
}

#pulseaudio.volume {
	font-size: 22px;
	padding: 0 9px;
}

#pulseaudio.volume.muted {
	background-color: @red;
}

#pulseaudio.microphone {
	font-size: 14px;
	padding: 0 8px;
}

#pulseaudio.microphone.source-muted {
	background-color: @yellow;
}

#idle_inhibitor {
	font-size: 24px;
	padding: 0 8px;
	background-color: @background;
	color: @white_b;
}

#idle_inhibitor.activated {
	background-color: @blue;
}

#gamemode {
	padding: 0 2px 0 6px;
	background-color: @background;
	color: @white_b;
}

#gamemode.running {
	background-color: @orange;
}
