* {
	border: none;
	border-radius: 4px;
	font-family: Liberation Mono;
	font-size: 16px;
	min-height: 0;
}

/* Tokyo Night Colour Scheme */
@define-color light_crimson #f7768e;
@define-color sundown #f9b4b5;
@define-color atomic_tangerine #ff9e64;
@define-color fawn #e0af68;
@define-color pistachio #9ece6a;
@define-color green_peas #85c144;
@define-color pearl_aqua #73daca;
@define-color celeste #b4f9f8;
@define-color battery_charged_blue #2ac3de;
@define-color dark_turquoise #1ad1b8;
@define-color light_turquoise #76f7df;
@define-color light_sky_blue #7dcfff;
@define-color french_sky_blue #7aa2f7;
@define-color pale_violet #bb9af7;
@define-color biloba_flower #9b6bf3;
@define-color amethyst #9a6ace;
@define-color vodka #c0caf5;
@define-color wild_blue_yonder #a9b1d6;
@define-color blue_bell #9aa5ce;
@define-color pastel_gray #cfc9c2;
@define-color ucla_blue #565f89;
@define-color police_blue #414868;
@define-color yankees_blue #24283b;
@define-color dark_jungle_green #1a1b26;

@define-color quinacridone_magenta #8c4351;
@define-color chestnut #965027;
@define-color golden_brown #8f5e15;
@define-color dark_moss_green #485e30;
@define-color dark_slate_gray #33635c;
@define-color blue_sapphire #166775;
@define-color dark_cerulean #0f4b6e;
@define-color yinmin_blue #34548a;
@define-color cyber_grape #5a4a78;
@define-color charcoal #343b58;
@define-color black_coral #565a6e;
@define-color coffee #634f30;
@define-color chinese_black #0f0f14;
@define-color manatee #9699a3;
@define-color light_silver #d5d6db;

@define-color arch_logo #2092D0;

/* @define-color background @theme_base_color; */
@define-color background @dark_jungle_green;
@define-color foreground @blue_bell;
@define-color text_light @vodka;
@define-color text_dark @background;

@keyframes blink {
	to {
		background-color: @text_light;
		color: @background;
	}
}

@keyframes bounce {
	10% {
		padding: 0 13px;
		/* start by scaling to 30% */
	}

	30% {
		padding: 0 10px;
		/* scale up to 100% */
	}

	60% {
		padding: 0 5px;
		/* scale down to 50% */
	}

	80% {
		padding: 0 8px;
		/* scale up to 75% */
	}

	100% {
		padding: 0 6px;
		/* scale down to 60% */
	}
}

window#waybar {
	background: transparent;
}

tooltip {
	background: @background;
	color: @text_light;
}

.modules-right {
	background: transparent;
	padding: 10px 10px;
}


.modules-center {
	background: transparent;
	padding: 10px 10px;
}


.modules-left {
	background: transparent;
	padding: 10px 10px;
}

#custom-arch-icon {
	font-size: 24px;
	background-color: @background;
	color: @arch_logo;
	padding: 0 14px;
}

#custom-shutdown {
	margin: 0 0 0 2px;
	background: @light_crimson;
	color: @text_dark;
	padding: 0 14px;
}

#custom-reboot {
	margin: 0 0 0 2px;
	background: @pistachio;
	color: @text_dark;
	padding: 0 14px;
}

#custom-lock {
	margin: 0 0 0 2px;
	background: @fawn;
	color: @text_dark;
	padding: 0 14px;
}

#custom-quit {
	margin: 0 0 0 2px;
	background: @light_sky_blue;
	color: @text_dark;
	padding: 0 14px;
}

#workspaces button {
	background: @background;
	color: @text_light;
	padding: 0 10px;
	margin: 0 2px;
	transition: background 0.5s, color 0.5s;
}

#workspaces button.active {
	background: @french_sky_blue;
	color: @text_dark;
}

#workspaces button.urgent {
	background: @light_crimson;
	color: @text_dark;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#window {
	background: @amethyst;
	color: @text_dark;
	padding: 0 10px;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
	background: @background;
	border: none;
}

#mpris {
	background: @wild_blue_yonder;
	color: @text_dark;
	padding: 0 6px;
	animation: none;
}

#mpris.playing {
	animation: bounce 2.2s ease infinite alternate;
	background: @green_peas;
}

#cpu {
	background-color: @celeste;
	color: @text_dark;
	padding: 0 6px;
	margin: 0 4px 0 0;
}

#memory {
	background-color: @sundown;
	color: @text_dark;
	padding: 0 6px;
	margin: 0 0 0 4px;
}

#bluetooth {
	margin: 0 0 0 2px;
	background-color: @light_crimson;
	color: @text_dark;
	padding: 0 10px;
	transition: background 0.5s, color 0.5s;
}

#bluetooth.on {
	background-color: @green_peas;
}

#network {
	background-color: @pistachio;
	color: @text_dark;
	padding: 0 10px;
}

#network.speed {
	font-size: 16px;
}

#clock {
	background-color: @background;
	color: @text_light;
	font-weight: bold;
	padding: 4px 8px 0 8px;
}

#battery {
	padding: 0 10px;
	background-color: @battery_charged_blue;
	color: @text_dark;
}

#battery.charging {
	background-color: @atomic_tangerine;
}

#battery.warning:not(.charging) {
	background-color: @light_crimson;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#tray {
	padding: 0 10px;
	background: @background;
}

#backlight {
	margin: 0 0 0 2px;
	padding: 1px 10px 0px 10px;
	background-color: @dark_turquoise;
	color: @text_dark;
}

#pulseaudio {
	color: @text_dark;
	background-color: @background;
	padding: 0 10px;
	transition: background 0.5s, color 0.5s;
}

#pulseaudio.volume {
	background-color: @pale_violet;
}

#pulseaudio.volume.muted {
	background-color: @light_crimson;
}

#pulseaudio.microphone {
	margin: 0 0 0 2px;
	background-color: @biloba_flower;
}

#pulseaudio.microphone.source-muted {
	background-color: @light_crimson;
}

#idle_inhibitor {
	padding: 0 16px;
	font-size: 20px;
	background-color: @light_crimson;
	color: @text_dark;
	transition: background 0.5s, color 0.5s;
}

#idle_inhibitor.activated {
	background-color: @light_turquoise;
}

#gamemode {
	padding: 0 10px 0 14px;
	background-color: @atomic_tangerine;
	color: @text_dark;
}

#custom-swaync {
	padding: 0 10px;
	background-color: @pearl_aqua;
	color: @text_dark;
}
